<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <input type="text" id="search-bar" name="search" style="margin: 0 auto; width: 300px; display: block;">
    <a href="/favs" style="margin: 0 auto; width: 300px; display: block; text-align: center;">Favoriten</a>

    <div id="gif-container" style="display: flex; width: 100%; flex-wrap: wrap;">
        
    </div>

    <script src="/scripts/index.js"></script>
</body>
</html>